.wrapper {
    position: relative;
    padding: 0 40px;
    width: 100%;
    color: var(--white-color);

    .search {
        display: flex;
        padding-bottom: 20px;

        input[type="checkbox"] {
            accent-color: var(--primary-color);
            margin: auto 0px auto 20px;
            cursor: pointer;
        }

        .delete-text {
            margin: auto 10px;
            padding: 4px 10px;
            font-size: 1.2rem;
            color: white;
            background-color: rgb(163, 66, 66);
            border-radius: 4px;
            cursor: pointer;
        }

        .delete-text:disabled {
            background-color: var(--gray-color);
        }

        .delete-text:hover {
            opacity: 0.7;
        }
    }

    .list-item {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        .item {
            display: flex;
            height: 80px;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            background-color: #1e1e1e;
            padding: 0 20px;
            border-radius: 8px;
            margin-bottom: 6px;

            input {
                height: 40px;
                margin-right: 20px;
                accent-color: var(--primary-color);
                cursor: pointer;
            }

            .info {
                margin-right: auto;
                display: flex;
                justify-content: space-between;
                width: 500px;

                .image {
                    position: relative;
                    display: flex;
                    align-items: center;
                    img {
                        height: 60px;
                        width: 60px;
                        border-radius: 4px;
                        border: 1px solid var(--border-image);
                    }

                    svg {
                        display: none;
                        position: absolute;
                        font-size: 1.4rem;
                        left: 20px;
                        top: 20px;
                    }
                }

                .image:hover {
                    opacity: 0.7;
                    cursor: pointer;

                    svg {
                        display: block;
                        color: var(--primary-color);
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 20px;
                    margin-right: auto;

                    .name {
                        color: var(--white-color);
                        font-size: 1.2rem;
                        line-height: 1;
                    }

                    .artist {
                        line-height: 1;
                        a {
                            color: var(--gray-color);
                            text-decoration: none;
                            font-size: 0.8rem;
                        }

                        a:hover {
                            text-decoration: underline;
                            color: var(--primary-color);
                        }
                    }
                }
            }

            .listen-time {
                display: flex;
                align-items: center;
                gap: 4px;
                width: 80px;
                font-size: 1rem;
                align-self: center;
                justify-self: flex-end;
                font-family: "Roboto", sans-serif;
                svg {
                    font-size: 1.2rem;
                    color: var(--gray-color);
                    height: 100%;
                }
            }

            .action {
                svg {
                    margin-left: 20px;
                    width: 20px;
                    height: 20px;
                }

                svg:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }
    }

    .color-shift {
        background-color: #141414;
    }

    .upload {
        text-decoration: none;
        color: var(--white-color);
        display: flex;
        align-items: center;
        position: relative;
        margin-left: auto;
        cursor: pointer;

        svg:first-child {
            font-size: 1rem;
            font-weight: 800;
            position: absolute;
            top: 10px;
            right: -2px;
        }
    }

    .upload:hover {
        color: var(--primary-color);
    }

    .overlay {
        position: fixed;
        display: none;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc(100% - 100px - 100px);
        top: 100px;
        left: 0;
        right: 0;
        bottom: 100px;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 50;
        cursor: pointer;
    }

    .modal-edit-song,
    .modal-delete-song {
        position: absolute;
        top: calc(50vh - 150px);
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        align-items: center;
        z-index: 500;
        background-color: #141414;
        padding: 40px;
        gap: 60px;
        border-radius: 8px;
        transition: all linear 0.2s;

        .img-field {
            img {
                border-radius: 8px;
                width: 200px;
                height: 200px;
                border: 1px solid var(--border-image);
            }
            label {
                display: block;
                text-align: center;
                cursor: pointer;
            }
        }
        .text-field {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .row-field {
                display: flex;
                height: 40px;

                label {
                    width: 200px;
                }

                .input-select {
                    width: 400px;
                    font-size: 1rem;
                    color: var(--primary-color);
                }

                input[type="text"] {
                    width: 400px;
                    border-radius: 4px;
                    padding: 12px 10px;
                    font-size: 1.2rem;
                }

                input[type="file"] {
                    overflow: hidden;
                    cursor: pointer;
                }

                input {
                    outline: none;
                }

                audio {
                    height: 40px;
                    width: 400px;
                    outline: none;
                }
                .label-song-file {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 4px;
                    width: fit-content;
                    max-width: 400px;
                    height: 40px;
                    background-color: var(--primary-color);
                    font-size: 1.4rem;
                    padding: 0 8px;
                    align-self: center;
                    text-align: center;
                    border-radius: 8px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    cursor: pointer;
                    svg {
                        min-width: 24px;
                    }
                }
            }

            .btn {
                display: flex;
                justify-content: center;
                gap: 20px;
                margin-left: 80px;
                margin-top: 12px;

                .btn-accept {
                    background-color: var(--primary-color);
                    color: #ffff;
                }

                .btn-decline {
                    background-color: rgb(163, 66, 66);
                    color: #ffff;
                }

                div {
                    padding: 0 20px;
                    text-align: center;
                    border-radius: 8px;
                    cursor: pointer;
                }

                div:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    .modal-delete-song {
        .btn {
            margin-left: 0 !important;
        }
    }
}
