.wrapper {
    position: relative;
    padding: 0 40px;

    .heading {
        font-size: 2rem;
        font-weight: 800;
        font-family: "Roboto", sans-serif;
        padding-left: 20px;
        color: var(--white-color);
        text-decoration: none;
        display: flex;
        justify-content: space-between;

        a {
            display: flex;
            align-items: center;
            gap: 4px;
            margin: auto 0;
            font-size: 1rem;
            text-decoration: none;
            color: #a9a9a9;
        }

        a:hover {
            color: var(--primary-color);
        }
    }

    .content-banner-square {
        padding: 12px 0 30px 24px;
        display: inline-grid;
        grid-template-columns: repeat(5, minmax(0px, 1fr));
        column-gap: 30px;
        width: 100%;
    }

    .content-song-new {
        width: 100%;
        padding: 12px 0 30px 24px;
        display: inline-grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 80px 80px 80px 80px;
        column-gap: 24px;
        row-gap: 20px;

        .banner {
            display: flex;
            align-items: center;
            padding: 10px;

            .image {
                position: relative;
                display: flex;
                img {
                    width: 64px;
                    height: 64px;
                    border-radius: 4px;
                    object-fit: cover;
                    border: 1px solid var(--border-image);
                }

                svg {
                    display: none;
                    position: absolute;
                    font-size: 1.4rem;
                    left: 22px;
                    top: 20px;
                    color: var(--white-color);
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding-left: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: var(--white-color);

                .name {
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: var(--white-color);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .name:hover {
                    cursor: default;
                }

                .artist {
                    font-size: 0.6rem;
                    font-weight: 400;
                    color: var(--gray-color);

                    a {
                        color: var(--gray-color);
                        text-decoration: none;
                        font-size: 0.8rem;
                    }

                    a:hover {
                        text-decoration: underline;
                        color: var(--primary-color);
                    }
                }

                .time-release {
                    font-size: 0.6rem;
                    font-weight: 400;
                    color: var(--gray-color);
                }
            }

            .action {
                display: none;
                margin-left: auto;
                margin-right: 12px;
                color: var(--white-color);
                svg {
                    display: none;
                    border-radius: 50%;
                    padding: 4px;
                    font-size: 1.8rem;
                }

                svg:hover {
                    cursor: pointer;
                    background-color: hsla(0, 0%, 78%, 0.525);
                }
            }
        }

        .banner:hover {
            background-color: #1e1e1e;
            border-radius: 8px;

            .image {
                opacity: 0.7;
                cursor: pointer;
            }

            .action {
                display: block;
            }

            svg {
                display: block;
            }
        }
    }
}
